<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>image_url:</strong>
  <%= image_tag @user.image_url %>
</p>
<p>
  <strong>image(:small).url:</strong>
  <%= image_tag @user.image(:small).url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
